{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ page_title }}</h1>
    <p>Easy as 1, 2, 3...</p>
  </div>
</div>

<div class="container">&nbsp;</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BAGOLY VAGYG PAPAGÁJ?</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">VOMBAT</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">TYPINGTEST</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>

<footer class="container-fluid text-center">
  <p>Created by the famous and fantastic Take It Easy team</p>
</footer>

{% endblock %}