{% extends 'layout.html' %}


{% block head %}
  <script src="{{ url_for('static', filename='js/typingtest.js') }}" type="text/javascript" defer></script>
{% endblock head %}


{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ page_title }}</h1>
    <p>How fast can You type?!</p>
  </div>
</div>

<div class="container">
  <form>
    <div class="form-group row">
        <div id="timer"></div>
        <input id="sentence" class="form-control form-control-lg text-center font-weight-bold" placeholder="" type="text" readonly>
        <input id="answer" class="form-control form-control-lg mt-5" type="text" placeholder="Ide kell írni">
        <button type="button" class="btn btn-success btn-lg btn-block mt-2" id="start-button">START!</button>
        <button type="button" class="btn btn-danger btn-lg btn-block d-none" id="stop-button">STOP!</button>
          <!-- TODO: modal for results -->
          <!-- TODO: Hibákhoz a backspacek leütéseit is számolja hozzá
                     Enter megnyomására álljon le a játék!-->
    </div>
  </form>
</div>

<footer class="container-fluid text-center fixed-bottom">
  <a href="{{ url_for('home') }}">Back to Home</a>
</footer>

{% endblock %}